body
{
    font-size:15px;
}

.bodycolor
{
    background:#f4f4f4;
}

.darkhr 
{
    border-style: inset;
    border-width: 1px;
}

#entrybar
{
    background:#373b3c;
    bottom:0;
    min-height:100px;
    padding:0;
    width:100%;
    position:fixed;
    z-index:100;
    color: white;
}

.entryform
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px;
}

.mar-bottom
{
    margin-bottom: 175px;
}

.adminform
{
    margin: 0 auto;
    width: 75%;
}

.shortfield
{
    width: 45%;
}

.medfield
{
    width: 80%;
}

.lgfield
{
    width: 90%;
}


#addblockcontrol
{
    margin-bottom:25px;
}

.addbulletcontrol
{
    margin-bottom:10px;
}

.noborder
{
    border:0;
    box-shadow: none;
}

.blockmargin
{
    margin-bottom:10px;
}

.catfield
{
    font-weight:bold;
}

.glyphicon.form-control-feedback
{
    right: 60px;
}

.hidefirst
{
    display:none;
}

.catshift
{
    right:12px;
}

#middle
{
    margin-bottom:30px;
}

.container 
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.adminrow
{
    margin-bottom: 30px;
}

#linkbar
{
    background:#373b3c;
    bottom:0;
    min-height:100px;
    padding:0;
    width:100%;
    position:absolute;
    z-index:100;
    color: white;
}

#sheetselect
{
    margin-right:15px;
}

#logo
{
    margin-top:35px;
    width:300px;
}

.inline-space
{
    margin-right:10px;
}