body
{
    font-size:15px;
}

.bodycolor
{
    background:#f4f4f4;
}

.darkhr 
{
    border-style: inset;
    border-width: 1px;
}

#entrybar
{
    background:#373b3c;
    bottom:0;
    min-height:100px;
    padding:0;
    width:100%;
    position:fixed;
    z-index:100;
    color: white;
}

.entryform
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.mar-bottom
{
    margin-bottom: 175px;
}

.adminform
{
    margin: 0 auto;
    width: 75%;
}

.shortfield
{
    width: 45%;
}

.medfield
{
    width: 80%;
}

.lgfield
{
    width: 90%;
}


#addblockcontrol
{
    margin-bottom:25px;
}

.addbulletcontrol, 
.blockmargin
{
    margin-bottom:10px;
}

.noborder
{
    border:0;
    box-shadow: none;
}

.catfield
{
    font-weight:bold;
}

.glyphicon.form-control-feedback
{
    right: 60px;
}

.hidefirst
{
    display:none;
}

.catshift
{
    right:12px;
}

.adminrow,
#middle
{
    margin-bottom:30px;
}

.container 
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

#linkbar
{
    background:#373b3c;
    bottom:0;
    min-height:100px;
    padding:0;
    width:100%;
    position:fixed;
    z-index:100;
    color: white;
}

#sheetselect
{
    margin-right:15px;
}

#logo
{
    margin-top:35px;
    width:300px;
}

.inline-space
{
    margin-right:10px;
}

.test
{
    text-align: left;
}

.adminbox
{
    margin-top:25px;
}

.adminbox.glyphicon
{
    font-size:75px;
}

#deletesheet
{
    display:none;
}

.alert
{
    position:fixed;
    z-index:200;
    width:100%;
    text-align:center;
    display:none;
}

.modal-body
{
    text-align:center;
}

#reftable
{
    text-align:left;
    margin-left:10px;
    margin-right:10px;
}

.coolcolor
{
    background-color:#F3F9FE;
}

.remref
{
    color:red;
}

.spaceout
{
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-dropdown-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    padding: 6px 12px;
    width: 300px;
}

.tt-suggestion.tt-cursor 
{
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}

.tt-suggestion
{
    margin: 0;
    text-align:left;
}

#oldham
{
    width:300px;
}

a {
 cursor:pointer;
}