{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Action</th>
                <th>Shares</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.action }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
