{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Action</th>
                <th>Shares</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for item in transactions %}
                <tr>
                    <td>{{ item|join('</td><td>'|safe) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
